/* 變數 */
:root {
  /* 顏色 */
  --primary-50: #fdf7f1;
  --primary-100: #fde6cf;
  --primary-500: #f5b87b;
  --primary-900: #24140b;
  --neutral-0: #ffffff;
  --neutral-500: #737373;
  --neutral-700: #404040;
  --neutral-900: #1e1e1e;
  --dark-40a: #1e1e1e;
  --dark-60a: #1e1e1e;
}

/* 全域設定 */

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav a {
  color: var(--neutral-700);
}

/* max-w */
.max-w-1296 {
  max-width: 1296px;
}

.max-w-196 {
  max-width: 196px;
}

/* marging */
.mb-12 {
  margin-bottom: 0.75rem;
}

.me-12 {
  margin-right: 0.75rem;
}

/* padding */
.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-54 {
  padding-left: 3.375rem;
  padding-right: 3.375rem;
}

/* color */
.text-neutral-700 {
  color: var(--neutral-700);
}

/* font-size */
.fs-14 {
  font-size: 0.875rem;
}

/* hover */
.nav-btn:hover,
.nav-btn.active {
  background: var(--primary-900);
  color: var(--neutral-0);
}

/* line-height */
.lh-150 {
  line-height: 150%;
}
